<% title(@ticket.title, "Tickets") %>
<h2><%= @ticket.title %></h2>
<br/>
<br/>
<%#= link_to "Edit Project", edit_project_path(@project)%> | 
<%#= link_to "Delete", @project , :method => "delete" %> | 
<%#= link_to "Back", projects_path %> | 
<%#= link_to "New Ticket", new_project_ticket_path(@project) %>




