<% title(@project.name, "Projects") %>
<h2><%= @project.name %></h2>
<br/>
<br/>
<%= link_to "Edit Project", edit_project_path(@project)%> | 
<%= link_to "Delete", @project , :method => "delete" %> | 
<%= link_to "Back", projects_path %>



